/* Paleta de cores baseada no Protótipo */
:root {
    --color-primary: #199D64;
    --color-secondary: #0A5B3D;
    --color-dark: #2C2C2C;
    --color-light: #F2F2F2;
    --color-white: #FFFFFF;
}

/* Estilos globais */
body {
    font-family: 'Segoe UI', arial, sans-serif; /* Muda a fonte do texto do body */
    margin: 0; /* Redefine o espaçamento fora do elemento, no caso do body todos os elementos que o compõem vão ter o margin zerada */
    padding: 0; /* Redefine o espaçamento dentro do elemento, no caso do body todos os elementos que o compõem vão ter o padding zerado */
    background-color: var(--color-dark); /* Cor do fundo */
    color: var(--color-light); /* Cor do texto */
    line-height: 1.6; /* Espaçamento entre as linhas */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1%;
    border: solid white;
}

.section {
   
}

h1, h2, h3 {
    margin: 0 0 10px;
}

h2 {
    font-size: 2.5rem;
    color: #04200D;
}

h2 strong {
   color: var(--color-primary);
}

.subtitle {
    
}

/* Botões */
.btn {
   
}

.btn-primary {
   
}

.btn-primary:hover {
 
}

.btn-secondary {
    
}

.btn-secondary:hover {
   
}

.btn-cta {
   
}

.btn-central {
   
}

/* Header */
.header {
   
}

.header .container {
    
}

.logo img {
   
}

.nav ul {
   
}

.nav ul li a {
   
}

.nav ul li a:hover {
   
}

/* Seção Hero */
.hero-section {
     
    
}

.hero-section h1 {
    
}

.hero-section p {
   
}

.hero-buttons {
   
}

/* Layout de Cards e Efeito Hover */
.cards-grid {
   

}

.card {
   
}

.card:hover {
   
}

.card i {
   
}

.servicos-section {
   
}

.card-servico { 
  
}

.card-servico:hover {
}

.card-servico i {
}

.beneficios-section {
   
}

.card-wrapper {
   
}

.impact-grid {
    
}

.impact-item span {
    
}

.impact-item p {
   
}

/* Seção Sobre */
.sobre-section {
    
}

.sobre-grid {
   
}

.valores-grid {
    
}

.valores-grid div {
   
}

.valores-grid i {
   
}

/* Seção Equipe (Quem Somos) */
.equipe-section {
    
}

.team-grid {
    
}

.team-member img {
   
}

/* Seção Contato */
.contato-section {
    
}

.contato-grid {
   
}

.contato-info {
   
}

.info-list p {
    
}

.contato-form {
   
}

.form-group {
   
}

.form-group label {
   
}

.form-group input, .form-group textarea {
   
}

/* Rodapé */
.footer {
   
}

.footer-grid {
    
}

.footer-logo img {
  
}

.footer-links h4 {
    
}

.footer-links ul {
   
}

.footer-links ul li a {
   
}

.footer-links ul li a:hover {
    
}

.copyright {
    
}