<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Retech</title>
  <link rel="shortcut icon" href="../asset/LogoIcon.svg" type="image/x-icon">
  <link rel="stylesheet" href="../style/global.css">
  <link rel="stylesheet" href="../style/navbar.css">
  <link rel="stylesheet" href="../style/home.css">
  <link rel="stylesheet" href="../style/footer.css">
</head>

<!-- Inicio da Navbar -->

<header class="navbar">
  <div class="container_nav">

    <div id="logo_nav">
      <a href="#"><img src="../asset/Logo.svg" alt=""></a>
    </div>

    <nav class="nav">

      <ul class="ul_nav">

        <li><a id="page_atual" href="#">Início</a></li>
        <li><a href="#quemSomos">Quem Somos</a></li>
        <li><a href="#contato">Contato</a></li>
        <li><a href="calculadora.html">Calculadora</a></li>

      </ul>

      <ul class="bt_nav">

        <li><button class="button" onclick="window.location.href='login.html'">Entrar</button></li>

      </ul>

    </nav>

  </div>
</header>

<!-- Fim da Navbar -->

<body>
  <div id="inicio" class="partePrincipal">
    <div class="principalTexto">
      <h1>Transformando a coleta de <span style="color: #10B77F;">Resíduos</span> com Tecnologia</h1>
      <p>Menos desperdício, mais eficiência, mais sustentabilidade.</p>
    </div>
    <div class="principalBotoes">
      <a href="#sobre">Conheça a Retech</a>
      <a href="#contato">Fale conosco</a>
    </div>
  </div>

  <div class="problemas">
    <h2>Os <span style="color: #10B77F;">Problemas</span> do Mundo Atual</h2>
    <p>A coleta de resíduos em São Paulo enfrenta grandes desafios:</p>
    <div class="problemasContainer">
      <div class="caixa">
        <h2>📍</h2>
        <h3>Rotas Ineficientes</h3><br>
        <p>Desperdício de combustível e tempo em rotas desnecessárias.</p>
      </div>
      <div class="caixa">
        <h2>🚛</h2>
        <h3>Coletas Desnecessárias</h3><br>
        <p>Caminhões circulando em áreas com lixeiras ainda vazias.</p>
      </div>
      <div class="caixa">
        <h2>💰</h2>
        <h3>Prejuízos Elevados</h3><br>
        <p>Custos elevados para empresas e prefeituras.</p>
      </div>
      <div class="caixa">
        <h2>🌍</h2>
        <h3>Impacto Ambiental</h3><br>
        <p>Resíduos nocivos ao meio ambiente expostos por períodos prolongados.</p>
      </div>
    </div>
  </div>

   <div id="sobre" class="sobre">
    <h2>Sobre a <span style="color: #10B77F;">ReTech</span></h2>
    <div class="sobreContainer">
      <div class="empresa">
        <h3>Empresa</h3>
        <p>
          <img src="../asset/Logo.svg" alt="Descrição da imagem" width="300" height="200"><br>
           A ReTech - Revolution Technology - é uma startup focada em soluções inteligentes para gestão de resíduos urbanos. Nosso objetivo é diminuir a ineficiência das coletas e tornar as cidades mais limpas, sustentáveis e tecnológicas.
        </p>
      </div>
      <div class="info">
        <h3>Missão</h3>
        <p>
          Otimizar as coletas de resíduos urbanos, reduzindo o desperdício de tempo, combustível e recursos por meio da aplicação de inovação tecnológica e inteligência de dados.
          Nosso objetivo é tornar o processo de gestão de resíduos mais eficiente, sustentável e inteligente.
        </p><br>
        <h3>Visão</h3> 
        <p>
          Ser reconhecida como referência nacional em gestão inteligente de resíduos, contribuindo ativamente para o desenvolvimento de cidades mais limpas, sustentáveis e conectadas ao futuro
        </p>
      </div>
      <div class="colunaValores">
        <h3>Valores</h3>
        <div class="valoresCaixas">
          <div class="caixaValor"><span class="emoji">🌱</span><br>Sustentabilidade</div>
          <div class="caixaValor"><span class="emoji">💡</span><br>Inovação</div>
          <div class="caixaValor"><span class="emoji">⚡</span><br>Eficiência</div>
          <div class="caixaValor"><span class="emoji">🔍</span><br>Transparencia</div>
        </div>
      </div>
    </div>
  </div>

  <div id="beneficios" class="beneficios">
    <h2> <span style="color: #10B77F;">Benefícios</span> da ReTech</h2>
    <p>Transformação completa na gestão de resíduos urbanos</p>
    <div class="beneficiosContainer">
      <div class="caixa">
        <h2>💰</h2>
        <h3>Econômico</h3><br>
        <p>Redução significativa de custos operacionais</p>
      </div>
      <div class="caixa">
        <h2>🌱</h2>
        <h3>Ambiental</h3><br>
        <p>Menos emissão de gases poluentes</p>
      </div>
      <div class="caixa">
        <h2>🏢</h2>
        <h3>Urbano</h3><br>
        <p>Melhoria na limpeza da cidade e estética urbana</p>
      </div>
      <div class="caixa">
        <h2>🔍</h2>
        <h3>Gestão</h3><br>
        <p>Dados em tempo real para decisões rápidas</p>
      </div>
    </div>
    <div class="impactoBanner">
      <h3>Impacto Esperado nas cidades</h3>
      <div class="stats">
        <div class="statReducao">
          - 40%
          <p>Redução de custos operacionais</p>
        </div>
        <div class="statMenor">
          - 30%
          <p>Menor emissão de CO₂</p>
        </div>
        <div class="statEficiencia">
          + 50%
          <p>Eficiência nas coletas</p>
        </div>
      </div>
    </div>
  </div>

  <div id="servicos" class="servicos">
    <h2>Nossos <span style="color: #10B77F;">Serviços</span></h2>
    <p>
      A Retech utiliza Tecnologia de ponta para otimizar todos os processos
    </p>
    <div class="servicosContainer">
      <div class="servicoCaixa">
        <h3>📡 Sensores Inteligentes</h3>
        <p>Medição em tempo real do nível de enchimento...</p>
      </div>
      <div class="servicoCaixa">
        <h3>📊 Dashboard de Monitoramento</h3>
        <p>Gestores acompanham dados em tempo real...</p>
      </div>
      <div class="servicoCaixa">
        <h3>📍 Otimização de Rotas</h3>
        <p>Rotas eficientes a partir da análise dos dados...</p>
      </div>
      <div onclick="Link()" class="servicoCaixa">
        <h3>💻 Simulador Financeiro</h3>
        <p>Simulações personalisadas para o seu projeto...</p>
      </div>
    </div>
    <div class="tecnologiaBanner">
      <h3>Tecnologia Integrada</h3>
      <p>
        Nossa plataforma combina inteligência artificial, IoT e análise de dados para revolucionar a gestão de resíduos urbanos.

      </p>
    </div>
  </div>

  <div id="quemSomos" class="quemSomos">
    <h2>Quem <span style="color: #10B77F;">Somos</span></h2>
    <p>A equipe ReTech surgiu a partir de um grupo de estudantes da faculdade São Paulo Tech School, que tinham como objetivo desenvolver um projeto que contribua para a limpeza urbana.</p><br>
    <div class="equipeContainer">
      <div class="membro">
        <img src="../asset/fotoQuevedo.jpg" alt="">
        <p>Lucas Quevedo</p>
        <p>Análise e Desenvolvimento de Sistemas</p>
      </div>
      <div class="membro">
        <img src="../asset/fotoGleison.png" alt="">
        <p>Gleison Almeida</p>
        <p>Análise e Desenvolvimento de Sistemas</p>
      </div>
      <div class="membro">
        <img src="../asset/fotoArthur.jpg" alt="">
        <p>Arthur Rodrigues</p>
        <p>Análise e Desenvolvimento de Sistemas</p>
      </div>
      <div class="membro">
        <img src="../asset/fotoPedro.jpg" alt="">
        <p>Pedro Cardoso</p>
        <p>Análise e Desenvolvimento de Sistemas</p>
      </div>
      <div class="membro">
        <img src="../asset/Samara.png" alt="">
        <p>Samara Freitas</p>
        <p>Análise e Desenvolvimento de Sistemas</p>
      </div>
      <div class="membro">
        <img src="../asset/fotoGabriel.png" alt="">
        <p>Gabriel Pereira</p>
        <p>Análise e Desenvolvimento de Sistemas</p>
      </div>
    </div>
  </div>

 <div id="contato" class="contato">
  <h2>Fale com a <span style="color: #10B77F;">ReTech</span></h2>
  <p>Pronto para transformar a gestão de resíduos da sua cidade?</p>

  <div class="contatoContainer">
    <!-- Lado Esquerdo -->
    <div class="infoContato">
      <h3>Entre em Contato</h3>
        <ul>
          <li>📧 contato@retech.com</li><br>
          <li>📞 (11) 99999-9999</li><br>
          <li>📍 São Paulo - SP</li><br>
        </ul>
      <div class="conversaBox">
        <h3>Vamos Conversar?</h3>
        <p>
          Estamos prontos para apresentar como a ReTech pode revolucionar a gestão de resíduos da sua empresa ou
          município. Entre em contato para uma demonstração personalizada.
        </p>
      
      </div>
    </div>

    <div class="formContato">
      <h3>Envie sua Mensagem</h3>
      <form>
        <label for="nome">👤 Nome*</label>
        <input type="text" id="nome" name="nome" placeholder="Seu nome completo" required>

        <label for="email">📧 E-mail*</label>
        <input type="email" id="email" name="email" placeholder="Seu@email.com" required>

        <label for="empresa">🏢 Empresa/Organização</label>
        <input type="text" id="empresa" name="empresa" placeholder="Nome da empresa">

        <label for="mensagem">💬 Mensagem*</label>
        <textarea style="font-family: 'Roboto', sans-serif;" id="mensagem" name="mensagem" placeholder="Conte-nos sobre seu interesse na ReTech" required></textarea>

        <button type="submit">Enviar Mensagem</button>
      </form>
    </div>
  </div>
</div>

  <!-- Inicio da Footer -->

  <div class="footer">
    <div class="container_footer">

      <div class="ftr_slogan">
        <img src="../asset/Logo_branca.svg" alt="">

        <p id="slogan">Transformando a gestão de resíduos urbanos através da <br>
          tecnologia e inovação</p>

      </div>

      <div class="ftr_links">
        <ul>

          <h4 class="title">Links Rápidos</h4>
          <li><a href="#inicio">Inicio</a></li>
          <li><a href="#sobre">Sobre</a></li>
          <li><a href="#beneficios">Beneficios</a></li>
          <li><a href="#servicos">Serviços</a></li>
          <li><a href="#quemSomos">Quem Somos</a></li>
          <li><a href="#contato">Contato</a></li>


        </ul>
      </div>

      <div class="ftr_contatos">

        <ul>

          <h4 class="title">Contatos</h4>
          <li>
            <img src="../asset/EmailIcon.png" alt="">
            contato@retech.com
          </li>
          <li>
            <img src="../asset/PhoneIcon.png" alt="">
            (11) 99999-9999
          </li>
          <li>
            <img src="../asset/PlaceMarkerIcon.png" alt="">
            São Paulo - SP
          </li>

        </ul>

      </div>

    </div>

    <hr>

    <p id="direitos">&copy; 2025 ReTech. Todos os direitos reservados.</p>

  </div>

  <!-- Final da Footer -->
  </div>
</body>

</html>

<script>