<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil | ReTech</title>
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/navbar.css">
    <link rel="stylesheet" href="../style/perfil.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

  </head>
  <body>
        
    <!-- Inicio da Navbar -->

    <header class="navbar">
        <div class="container_nav">
            
            <div id="logo_nav">
                <a href=""><img src="../asset/Logo.svg" alt=""></a>
            </div>

            <nav class="nav">
                
                <ul class="ul_nav">

                    <li><a href="">Landing Page</a></li>
                    <li><a id="page_atual" href="">Dashboard</a></li>
                    <li><a href="">Calculadora</a></li>
                    <li><a href="">Contato</a></li>
                    <li><a href="">Configurações</a></li>

                </ul>

                <div class="user">

                    <a href=""><img src="../asset/Avatar.svg" alt=""></a>
                    <span id="msg_user"></span>

                </div>

            </nav>
            
        </div>
    </header>

    <!-- Fim da Navbar -->
    <!-- Container do perfil -->
    <div class="perfilContainer">
      <div class="perfilCard">
        <div class="perfilInfo">
          <div class="avatar">
            <img src="../asset/Avatar Placeholder.svg" alt="Avatar padrão" />
          </div>
          <div class="dados">
            <h2>Gleison Almeida de Freitas</h2>
            <p class="email">gleison.almeida@retech.com</p>
            <p class="cargo">Analista</p>
            <a href="home.html" class="sair">Sair</a>
          </div>
        </div>

        <div class="atalhos">
          <a href="calculadora.html">Simulador Financeiro</a>
          <a href="dashboardGeral.html">Dashboards</a>
          <a href="cadastro.html">Cadastro</a>
        </div>

        <div class="decoracao"></div>
      </div>
    </div>
  </body>
</html>
