<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Geral</title>
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/navbar.css">
    <link rel="stylesheet" href="../style/footer.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <!-- Inicio da Navbar -->

    <header class="navbar">
        <div class="container_nav">
            
            <div id="logo_nav">
                <a href=""><img src="../assets/img/Logo.svg" alt=""></a>
            </div>

            <nav class="nav">
                
                <ul class="ul_nav">

                    <li><a href="">Landing Page</a></li>
                    <li><a id="page_atual" href="">Dashboard</a></li>
                    <li><a href="">Calculadora</a></li>
                    <li><a href="">Contato</a></li>
                    <li><a href="">Configurações</a></li>

                </ul>

                <div class="user">

                    <a href=""><img src="../assets/img/Avatar.svg" alt=""></a>
                    <span id="msg_user"></span>

                </div>

            </nav>
            
        </div>
    </header>

    <!-- Fim da Navbar -->

    <!-- Inicio da Dashboard -->

    <div class="container_dash">

        <div class="container_kpi">
            <div class="kpi">
            
            </div>

            <div class="kpi">

            </div>
        </div>
        
        <div class="barras">

            <!-- Canvas: Cria uma área na página web para renderização, que funciona como uma tela em branco para ser manipulada por código. -->
            <canvas id="cvs_grafico_reciclavel"></canvas>
            <canvas id="cvs_grafico_organico"></canvas>
        
        </div>

        <div class="pizza">

            <canvas id="cvs_grafico_pizza"></canvas>

        </div>

        <div class="alerta">
            
        </div>

    </div>
    <!-- Fim da Dashboard-->

    <!-- Inicio da Footer -->

    <div class="footer">
        <div class="container_footer">

            <div class="ftr_slogan">
                <img src="../assets/img/Logo_branca.svg" alt="">
                
                <p id="slogan">Transformando a gestão de resíduos urbanos através da <br>
                    tecnologia e inovação</p>

            </div>

            <div class="ftr_links">
                <ul>

                    <h4 class="title">Links Rápidos</h4>
                    <li><a href=""></a>Inicio</li>
                    <li><a href=""></a>Sobre</li>
                    <li><a href=""></a>Quem Somos</li>
                    <li><a href=""></a>Serviços</li>
                    <li><a href=""></a>Contato</li>
                    <li><a href=""></a>Entrar</li>

                </ul>
            </div>

            <div class="ftr_contatos">
                
                <ul>

                    <h4 class="title">Contatos</h4>
                    <li>
                        <img src="../assets/img/IconEmail.png" alt="">
                        contato@retech.com
                    </li>
                    <li>
                        <img src="../assets/img/IconPhone.png" alt="">
                        (11) 99999-9999
                    </li>
                    <li>
                        <img src="../assets/img/IconPlaceMarker.png" alt="">
                        São Paulo - SP
                    </li>

                </ul>

            </div>

        </div>

        <hr>

        <p id="direitos">&copy; 2025 ReTech. Todos os direitos reservados.</p>

    </div>

    <!-- Final da Footer -->

</body>
</html>

<script>
        const PizzaLixeiras = document.getElementById("cvs_grafico_pizza");
        const BarrasReciclavel = document.getElementById("cvs_grafico_reciclavel");
        const BarrasOrganico = document.getElementById("cvs_grafico_organico");

        // Gráfico de Pizza dos Status das Lixeiras
        new Chart(PizzaLixeiras, {
            type: 'pie',
            data: {
                labels: [
                    'Estável',
                    'Moderado',
                    'Alerta',
                    'Crítico'
                ],
                datasets: [{
                    label: 'Lixeiras',
                    data: [14, 34, 7, 7],
                    backgroundColor: [
                    'rgb(186, 255, 201)',
                    'rgb(255, 255, 186)',
                    'rgb(255, 223, 186)',
                    'rgb(255, 179, 186)'
                    ],
                    hoverOffset: 4
                }]
            },
        });

        // Gráfico de Barras das Lixeiras Reciclaveis
        new Chart(BarrasReciclavel, {
            type: "bar",
            data: {
                labels: ["Estável", "Moderado", "Alerta", "Crítico"],
                datasets: [
                    {
                        data: [3, 18, 7, 3],
                        borderWidth: 1,
                        backgroundColor: [
                            'rgb(186, 255, 201)',
                            'rgb(255, 255, 186)',
                            'rgb(255, 223, 186)',
                            'rgb(255, 179, 186)'
                        ],

                    },
                    
                ],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                },
            },
        });

        // Gráfico de Barras das Lixeiras Orgânicas
        new Chart(BarrasOrganico, {
            type: "bar",
            data: {
                labels: ["Estável", "Moderado", "Alerta", "Crítico"],
                datasets: [
                    {
                        data: [3, 18, 7, 3],
                        borderWidth: 1,
                        backgroundColor: [
                            'rgb(186, 255, 201)',
                            'rgb(255, 255, 186)',
                            'rgb(255, 223, 186)',
                            'rgb(255, 179, 186)'
                        ],
                    },
                ],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                },
            },
        });

    </script>