/* Inicio das imortações de conteudos do projeto */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Fim das importações de conteudos do projeto */

/* --Inicio do reset CSS-- */

/*  O reset CSS serve para retirar algumas configurações padrão presente nas tags HTML */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* --Fim do reset CSS-- */

/* --Inicio das configurações padrões do nosso site-- */

/* Criando as variaveis de cores */
:root {
  /* cores do background */
  --bg-verde-escuro: #04200d;
  --bg-verde-claro: #e1f8f2;
  --bg-cinza: #efefef;

  /* cores dos cards */
  --bg-card: #ffffff;
  --bg-title-color: #20604a;
  --card-gradient-claro: #10b77f;
  --card-gradient-escuro: #04200d;

  /* cores dos inputs / buttons */
  --bg-ipt-color: #fcffff;
  --border-ipt-color: #37b594;
  --bg-bt-gradiend-claro: #10b77f;
  --bg-bt-gradiend-escuro: #04200d;
  --bt-text-color: #ffffff;

  /* cores dos textos */
  --text-padrao-color: #000000;
  --text-navbar-color: #2d2e2e;
  --text-bg-escuro-color: #ffffff;
  --text-destaque-color: #10b77f;

  /* cores dos icones */
  --icon-lixeira-verde: #9dc284;
  --icon-lixeira-amarela: #eae855;
  --icon-lixeira-laranja: #f29d38;
  --icon-lixeira-vermelha: #be4a31;
  --icon-alerta: #fffd54;
  --icon-erro: #eb3223;
}

/* Fonte padrão do site */
body {
  font-family: "Roboto", sans-serif;
}

/* Fonte padrão dos titulos */
.title {
  font-family: "Inter", sans-serif;
}

/* Formatação padrão dos botões da pagina */
.button {
  background: linear-gradient(
    90deg,
    var(--bg-bt-gradiend-claro) 0%,
    var(--bg-bt-gradiend-escuro) 100%
  );
  color: var(--bt-text-color);
  font-weight: bold;
}

/* --Fim das configurações padrão do nosso site-- */

/* FOOTER ÍNICIO */

/* Configura a área principal do rodapé com cor de fundo, cor do texto e alinhamento */
.footer {
  background-color: var(--bg-verde-escuro);
  color: var(--text-bg-escuro-color);
  font-family: "Inter" sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20rem;
}

/* Organiza os elementos principais do rodapé lado a lado */
.container_footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
  align-items: center;
  justify-content: space-around;
}

/* Define a área do slogan com alinhamento em coluna */
.ftr_slogan {
  width: 40%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

/* Ajusta o tamanho e espaçamento da imagem do slogan */
.ftr_slogan img {
  width: 20%;
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 3%;
}

/* Estiliza o texto do slogan centralizando o conteúdo */
#slogan {
  display: flex;
  width: 100%;
  height: 50%;
  font-size: larger;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Define o estilo do título da seção de links */
.ftr_links h4 {
  font-size: 18px;
  margin-bottom: 10%;
}

/* Ajusta o espaçamento entre os itens da lista de links */
.ftr_links li {
  margin-bottom: 3px;
}

/* Configura a área de contatos com alinhamento central vertical */
.ftr_contatos {
  width: 30%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

/* Define o estilo do título da seção de contatos */
.ftr_contatos h4 {
  font-size: 18px;
  margin-bottom: 10%;
}

/* Ajusta o tamanho dos ícones de contato */
.ftr_contatos img {
  width: 10%;
  margin-right: 2%;
}

/* Posiciona os itens da lista de contatos lado a lado com espaçamento */
.ftr_contatos li {
  margin: 15px 0;
  margin-right: 2px;
  display: flex;
  align-items: center;
}

/* Estiliza a linha divisória do rodapé */
.footer hr {
  width: 80%;
  color: var(--bg-verde-claro);
  border: solid 1px;
}

/* Ajusta o espaçamento do texto de direitos autorais */
#direitos {
  margin-top: 1.4%;
}

/* FOOTER FIM */

/* NAVBAR ÍNICIO */

/* Adiciona a fonte e a cor de texto padrão da div */
.navbar {
  font-family: "Inter", sans-serif;
  color: var(--text-navbar-color);
}

/* Tornando o conteudo da div modular e adicionando sombra a navbar */
.container_nav {
  display: flex;
  flex-direction: row;
  z-index: 1000; /*Serve para determinar a camada em que a navbar se encontra*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*configura a sombra da navbar*/
}

/* Adiciona margim a logo para ela ficar na posição correta */
#logo_nav {
  margin: 1rem 2rem;
}

/* Determina o tamanho da imagem da logo*/
#logo_nav img {
  width: 11%;
}

/* Determina o tamanho da div em relação a div pai e ajusta o conteudo dentro dela */
.nav {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-around;
}

/* Determina o tamanho da div em relação a div pai e ajusta o conteudo dentro dela */
.ul_nav {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

/* Configura o hover da navbar */
.ul_nav li:hover {
  color: var(--text-destaque-color);
}

/* Deixa o button da pagina atual em destaque */
#page_atual {
  color: var(--text-destaque-color);
  font-weight: bold;
}

/* Ajusta o tamanho e o conteudo dos botões presentes na navbar */
.bt_nav {
  display: flex;
  height: 50%;
  width: 20%;
  justify-content: center;
}

/* Ajusta o tamanho do botão de login e o texto dentro dele */
#bt_login {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 80%;
  height: 100%;
}

/* Configura o posicionamento do conteudo da div e determina o tamanho do texto */
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

/* Configura o posicionamento do icone de usuario */
.user a {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ajusta o tamanho do icone do usuario */
.user img {
  width: 70%;
}

/* NAVBAR FIM */

.simulador {
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 740px;
}

.card_simulador {
  width: 700px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.card_simulador_header {
  background-color: var(--bg-title-color);
  color: #fff;
  text-align: center;
  padding: 16px 0;
  font-size: 1.25rem;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.card_simulador_body {
  padding: 80px 100px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.simulador_label {
  font-weight: 600;
  font-size: 0.95rem;
  text-align: center;
}

.simulador_input {
  height: 55px;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-ipt-color);
  border-radius: 8px;
  text-align: center;
  font-size: medium;
  outline: none;
  transition: all 0.2s;
}

.simulador_input:focus {
  border-color: #2f5643;
  box-shadow: 0 0 4px rgba(47, 86, 67, 0.4);
}

.simulador_button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 180px;
  background: linear-gradient(
    90deg,
    var(--card-gradient-claro),
    var(--card-gradient-escuro)
  );
  color: var(--bt-text-color);
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
}

.simulador_button:hover {
    background: linear-gradient(
    90deg,
    #0fdc9c,
    #064d2a
  );
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(16, 183, 127, 0.4);
}

.card_resultado {
  display: none;
  width: 380px;
  height: 450px;
  background-color: #fff;
  border-radius: 8px;
  overflow-y: auto;
}

.card_resultado_body {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}